body {
  background-color: black;
  
} 

.ryke {
  margin: 0 auto;
  align-items: center;
  max-width: 500px;
  height: auto;
  width: 100%;
}

h1 {
  color: white;
  font-size: 50px;
  text-align: center;
  te
  width: 100%;
}
