body {
  background-color: black;
  
} 

.ryke {
  margin-left: 20px;
}

h1 {
  color: white;
  font-size: 50px;
  text-align: center;
}

.from, .to {
  color: white;
  height: 40px;
  width: 30px;
  padding: 16px;
  margin: 25px;
}